/******************************************
/* CSS
/*******************************************/
@font-face {
  font-family: 'FinkHeavy';
  src: url('../FinkHeavy.woff2') format('woff2'),
      url('../FinkHeavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Box Model Hack */
*{
  box-sizing: border-box;
}
.fish{
  display: flex;
  flex-wrap: wrap;
  width:100vw;
  
}
h1{
  text-align: center;
  font-family: 'FinkHeavy';
}
.fishy{
  position: relative;
  display:flex;
  flex-direction: column;
  align-items: center;
  z-index: 20000;
}
.hidden{
  
  display:none;
  
}
.loadwrap.hidden{
  
  display:none;
  
}
.fishy{
  height:22vh;
  width:20vw;
  text-align: center;
}
.fishy.clicked{
  background-color: #72f072;
}
p{
  display:none;
}
.fishy img{
  width:40%;
}
.fishy.clicked p{
  display:contents;
  padding:10px;
  
}
.fish h2{
  width:20vw;
  text-align: center;
  z-index: 0;
  margin:2px 0;
  font-family: 'FinkHeavy';
}

/******************************************
/* LAYOUT
/*******************************************/
.loadwrap{
  display:flex;
  justify-content: center;
  align-content: center;
  height:50vh;
  flex-direction:row;
  align-items: center;
}
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #34dbbf; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

@media screen and (max-width: 1000px){
  .fishy img{
    width:60%;
  }
  .fishy{
    width:20vw;
  }
}


@media screen and (max-width: 890px) {

  .fishy {
    width: 25vw;
  }
  .fishy h2{
    font-size: 1.3em;
  }

}
@media screen and (max-width: 780px) {

  .fishy {
    width: 33.3333vw;
  }
  .fishy h2{
    font-size: 1.2em;
  }
  .fish img{
    width:40%;
  }

}
@media screen and (max-width: 747px) {

  .fishy {
    width: 33.3333vw;
  }
  .fishy h2{
    font-size: 1.0em;
  }
  .fish img{
    width:40%;
  }

}
@media screen and (max-width: 60px) {

  .fishy {
    width: 33.3333vw;
  }
  .fishy h2{
    font-size: 1.2em;
  }
  .fish img{
    width:40%;
  }

}