/******************************************
/* CSS
/*******************************************/
@font-face {
  font-family: 'FinkHeavy';
  src: url('../FinkHeavy.woff2') format('woff2'),
      url('../FinkHeavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
.doIt{
	margin:0;
	padding:0;
	height:100vh;
	overflow-y: overlay;
	overflow-x:hidden;
	perspective: 10px;
	
  }
  .doIt::-webkit-scrollbar{
	display:block;
	width:8px;
  }
  
  .doIt::-webkit-scrollbar-button{
	display:none;
  }
  .doIt::-webkit-scrollbar-track{
	
	background-color: transparent;
  
  }
  
  .doIt::-webkit-scrollbar-thumb {
	background-color: #828e96ab;
	border: 1px solid #ffffff40;
	border-radius: 24px;
  }
/* Box Model Hack */
*{
  box-sizing: border-box;
}
html{
  background-color: #8ecfca;
  overflow-x: clip;
}

.item{
  display: flex;
  flex-wrap: wrap;
  width:100vw;
  justify-content: center;
  
}
.hero{
  top:0;
  position: sticky;
  z-index: 300000;
  display:flex;
  justify-content: space-around;
  align-items: center;
  height:8vw;
  background-image: url('../dark-wood.png');
  background-color: #6e501f;
  border-bottom: 8px solid #211709;
  
  width:100vw;
}
.menuButt{
  display:none;
}
h1{
  
  border:3px solid #30220d;
  background-image: url(../dark-wood.png), linear-gradient(rgb(187 138 68), rgb(53 53 53 / 17%));
  background-size:cover;
  text-decoration:wavy;
  color: #fcea64;
  background-color: #ac8f61;
  padding:10px 30px;
  border-radius: .5em;
  text-shadow: -0.5px -0.5px #ff8c00, 4px 4px #000000b4;
  margin:0;
  text-align: center;
  font-family: 'FinkHeavy';
  cursor:pointer;
  
}
h1:hover{
  border:3px solid #fcea64;
}
h1.on{
  border:3px solid #fcea64;
}

.menuButt:hover{
  border:3px solid #fcea64;
  border-top: none;
}

.fishy{
  position: relative;
  display:flex;
  flex-direction: column;
  align-items: center;
  z-index: 20000;
  height:24vh;
  width:20vw;
  text-align: center;
}
.fishy.fossil{
  width:25vw;
  height:41vh
}
.fishy.art{
  width:25vw;
  height:36vh
}

.fishy.clicked{
  background-color: rgba(180,252,183);
}
.fishy img{
  width:40%;
}
.fish h2{
  width:20vw;
  text-align: center;
  z-index: 0;
  margin:2px 0;
  font-family: 'FinkHeavy';
}
.fishy.clicked p{
  display:inline-block;
  
  
}
.hidden{
  
  display:none;
  
}
.loadwrap.hidden{
  
  display:none;
  
}


p{
  display:none;
  width:90%;
  
  margin: 0;
}




/******************************************
/* LAYOUT
/*******************************************/
.loadwrap{
  display:flex;
  justify-content: center;
  align-content: center;
  height:50vh;
  flex-direction:row;
  align-items: center;
}
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #34dbbf; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

@media screen and (max-width: 1000px){
  .fishy img{
    width:60%;
  }
  .fishy{
    width:20vw;
  }
}
@media screen and (max-width: 1111px){
  .dropdown{
    
    display:flex;
    justify-content: center;
    height:fit-content;
    position: sticky;
    top:0;
    z-index: 200000;
  }
  .dropdown{
    
    display:flex;
    justify-content: center;
    height:fit-content;
    position: sticky;
    top:0;
    z-index: 200000;
  }
  .hero{
    height:0vh;
    overflow-y: clip;
    flex-direction: column;
    border-bottom: none;
    
    
  }
  .hero.on{
    height: fit-content;
    border-bottom: 8px solid #211709;
  }
  .hero.on h1{
    display:flex;
    margin-top: 10px;
    margin-bottom: 10px;
    width:50vw;
  }
  .hero h1{
    display:none;
  }
  
  .menuButt{
    margin-left:10px;
    display:inline-block;
    
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
  }
  
}
@media screen and (max-width: 1037px){
  
}


@media screen and (max-width: 890px) {

  .fishy {
    width: 25vw;
  }
  .fishy h2{
    font-size: 1.3em;
  }

}
@media screen and (max-width: 780px) {

  .fishy {
    width: 33.3333vw;
  }
  .fishy h2{
    font-size: 1.2em;
  }
  .fish img{
    width:40%;
  }

}
@media screen and (max-width: 747px) {
  
  .fishy {
    width: 33.3333vw;
  }
  .fishy h2{
    font-size: 1.0em;
  }
  .fish img{
    width:40%;
  }
  .fishy.fossil{
    width:50vw;
    height:60vh;
  }
  .fishy.art{
    width:50vw;
    height:50vh;
  
  }
  .fishy.music{
    justify-content: center;
  }

}
@media screen and (max-width: 60px) {

  .fishy {
    width: 33.3333vw;
  }
  .fishy h2{
    font-size: 1.2em;
  }
  .fish img{
    width:40%;
  }

}